ion-header
{
	&:after
	{
		display: none;
	}
	ion-toolbar
	{
		--background: #fdfdfb;
		--min-height: 56px;
		--border-width: 0px;
		ion-back-button
		{
			--icon-font-size: 18px;
			--min-width: 30px;
			color: var(--ion-color-black);
			
		}
		ion-title
		{
			font-size: 15px;
			font-weight: 700;
			color: var(--ion-color-black);
			padding: 0px 10px;
		}
		[cart-btn]
		{
			font-size: 20px;
			margin-right: 10px;
			color: var(--ion-color-black);
		}
	}
}
ion-content
{
	--background: #fdfdfb;
	--padding-top: 15px;
	--padding-bottom: 15px;
	[main-head]
	{
		padding: 0px 16px;
		h1
		{
			font-size: 14px;
			line-height: 21px;
			font-weight: 600;
			color: var(--ion-color-black);
			margin: 0px 0px 5px;
		}
		p
		{
			font-size: 12px;
			line-height: 20px;
			color: #bfbdbc;
			margin: 0px;
		}
	}
	ion-list
	{
		padding: 16px 0px 0px;
		background: transparent;
		ion-item
		{
			--min-height: 48px;
			--padding-start: 16px;
			--padding-end: 0px;
			border-bottom: 2px solid #f9faf8;
			--inner-padding-end: 16px;
			--background: transparent;
			outline: 0px;
			ion-label
			{
				margin: 0px;
				font-size: 12px;
				line-height: 21px;
				font-weight: 600;
				color: var(--ion-color-black);
				white-space: normal;
				padding-left:20px;
				position: relative;
				outline: 0px;
				&:after
				{
				position: absolute;
				content: "";
				left: 1px;
				top: 9px;
				width: 12px;
				height: 2px;
				background: var(--ion-color-primary);
				}
			}
			[plus-btn]
			{
				font-size: 16px;
				outline: 0px;
				color: var(--ion-color-black);
			}
			&:last-child
			{
				border-bottom: 0px;
			}
		}
	}
}