<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/home"></ion-back-button>
		<ion-title class="ion-text-center">Sub Categories</ion-title>
		<!--ion-buttons cart-btn slot="end"><ion-icon name="cart-outline"></ion-icon></ion-buttons-->
	</ion-toolbar>
</ion-header>
<ion-content>
<div main-head>
	<h1>Brakes Services</h1>
	<p>What brake services you want?</p>
</div>
<ion-list>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Brake safety inspection</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Pad and rotor replacement</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Pad replacement</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Shoe replacement</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Clean and adjust rear drum</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
	<ion-item lines="none" detail="false">
		<ion-label  routerLink="/tabs/requests">Other</ion-label>
		<ion-buttons plus-btn slot="end" routerLink="/tabs/home"><ion-icon name="add-outline"></ion-icon></ion-buttons>
	</ion-item>
</ion-list>
</ion-content>
