<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/submittherequest"></ion-back-button>
		<ion-title class="ion-text-center">Requests</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<ion-item lines="none"  detail="false" requests>
	<ion-label>
	   <div requestdate>
		  <h3># 101557</h3>
		  <span date>
		 Aug 21, 11:30 PM
		  </span>
		</div>
		<p paratext>Brake Pad and Rotor</p>
		<p paratext>BMW 2020</p>
		<div location-quotes>
		<p><ion-icon name="location-outline"></ion-icon> North Nyah 6889 Jerod Valley1</p>
		<ion-button shape="rounded" routerLink="/tabs/estimated-places">
		View Quotes <span>2</span>
		</ion-button>
		</div>
	</ion-label>
</ion-item>
<ion-item lines="none"  detail="false" requests>
	<ion-label>
	   <div requestdate >
		  <h3># 101557</h3>
		  <span date>
		 Aug 21, 11:30 PM
		  </span>
		</div>
		<p paratext>Brake Pad and Rotor</p>
		<p paratext>BMW 2020</p>
		<div location-quotes>
		<p><ion-icon name="location-outline"></ion-icon> North Nyah 6889 Jerod Valley1</p>
		<ion-button shape="rounded" routerLink="/tabs/estimated-places"> 
		View Quotes <span>2</span>
		</ion-button>
		</div>
	</ion-label>
</ion-item>
<ion-item lines="none"  detail="false" requests>
	<ion-label>
	   <div requestdate >
		  <h3># 101557</h3>
		  <span date>
		 Aug 21, 11:30 PM
		  </span>
		</div>
		<p paratext>Brake Pad and Rotor</p>
		<p paratext>BMW 2020</p>
		<div location-quotes>
		<p><ion-icon name="location-outline"></ion-icon> North Nyah 6889 Jerod Valley1</p>
		<ion-button shape="rounded" routerLink="/tabs/estimated-places">
		View Quotes <span>2</span>
		</ion-button>
		</div>
	</ion-label>
</ion-item>
<ion-item lines="none"  detail="false" requests>
	<ion-label>
	   <div requestdate >
		  <h3># 101557</h3>
		  <span date>
		 Aug 21, 11:30 PM
		  </span>
		</div>
		<p paratext>Brake Pad and Rotor</p>
		<p paratext>BMW 2020</p>
		<div location-quotes>
		<p><ion-icon name="location-outline"></ion-icon> North Nyah 6889 Jerod Valley1</p>
		<ion-button shape="rounded" routerLink="/tabs/estimated-places">
		View Quotes <span>2</span>
		</ion-button>
		</div>
	</ion-label>
</ion-item>
</ion-content>
