<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/my-cars"></ion-back-button>
		<ion-title class="ion-text-center">Vehicle Model Year</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div main-head>
		<h1>Which vehicle need service?</h1>
		<p>Choose your vehicle's model year</p>
	</div>
	<ion-row chooseyear>
	   <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio01" style="display:none">
		<label for="radio01" routerLink="/tabs/vehicle-model">2021 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
   	   <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio02" style="display:none">
		<label for="radio02" routerLink="/tabs/vehicle-model">2020 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
        <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio03" style="display:none">
		<label for="radio03" routerLink="/tabs/vehicle-model">2019 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
       <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio04" checked="" style="display:none">
		<label for="radio04" routerLink="/tabs/vehicle-model">2018 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio05" style="display:none">
		<label for="radio05" routerLink="/tabs/vehicle-model">2017 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio06" style="display:none">
		<label for="radio06" routerLink="/tabs/vehicle-model">2016 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio07" style="display:none">
		<label for="radio07" routerLink="/tabs/vehicle-model" >2015 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	      <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio08" style="display:none">
		<label for="radio08" routerLink="/tabs/vehicle-model">2014 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio09" style="display:none">
		<label for="radio09" routerLink="/tabs/vehicle-model">2013 <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio010" style="display:none">
		<label for="radio010" routerLink="/tabs/vehicle-model">2012</label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio011" style="display:none">
		<label for="radio011" routerLink="/tabs/vehicle-model">2011</label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio012" style="display:none">
		<label for="radio012" routerLink="/tabs/vehicle-model">2010</label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox1" id="radio013" style="display:none">
		<label for="radio013" routerLink="/tabs/vehicle-model">2009</label>
	   </ion-col>
	   
 </ion-row>
</ion-content>
