<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/requests"></ion-back-button>
		<ion-title class="ion-text-center">Compare Estimates</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div main-head>
		<h1>Below are the quotes for Brake Pad and Rotor</h1>
	</div>
	<ion-list>
		<ion-item lines="none" detail="false">
			<ion-label>
				<h2>Elmer's Tire and Auto</h2>
				<h3><b>17.8 mi</b> - 4610 E Los Angeles Ave Unit A, Simi Valley, CA93065</h3>
				<div ratingprice>
				  <div starrating>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <span>(74)</span>
				  </div>
				 <span price>
				  $59.99
				  </span>
				</div>
				<div btnbottom>
				<ion-button  shape="rounded" fill="outline" routerLink="/tabs/vendor-profile">
				  View Profile
				</ion-button>
				<ion-button  shape="rounded" routerLink="/tabs/date-time">
				 Book Appointment
				</ion-button>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none" detail="false">
			<ion-label>
				<h2>Elmer's Tire and Auto</h2>
				<h3><b>17.8 mi</b> - 4610 E Los Angeles Ave Unit A, Simi Valley, CA93065</h3>
				<div ratingprice>
				  <div starrating>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <ion-icon name="star"></ion-icon>
				   <span>(74)</span>
				  </div>
				 <span price>
				  $59.99
				  </span>
				</div>
				<div btnbottom>
				<ion-button  shape="rounded" fill="outline" routerLink="/tabs/vendor-profile">
				  View Profile
				</ion-button>
				<ion-button  shape="rounded" routerLink="/tabs/date-time">
				 Book Appointment
				</ion-button>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>	
</ion-content>
