<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/messages"></ion-back-button>
		<ion-title class="ion-text-center">Jacob</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
	<ion-item lines="none" receiver class="ion-no-padding">
		<ion-avatar>
			<span>J</span>
		</ion-avatar>
		<ion-label>
			<div message>
				<p>Have you ever been there? Lorem Ipsum is simply dummy text</p>
			</div>
			<span time>
				<ion-icon name="checkmark-done-outline"></ion-icon>
				14:28
			</span>
		</ion-label>
	</ion-item>
	<ion-item lines="none" sender class="ion-no-padding">
		<ion-label>
			<div message>
				<p>Yes, what about you?</p>
			</div>
			<span time>
				<ion-icon name="checkmark-done-outline"></ion-icon>
				14:30
			</span>
		</ion-label>
	</ion-item>
	<ion-item lines="none" receiver class="ion-no-padding">
		<ion-avatar>
			<span>J</span>
		</ion-avatar>
		<ion-label>
			<div message>
				<p>Have you ever been there? Lorem Ipsum is simply dummy text</p>
			</div>
			<span time>
				<ion-icon name="checkmark-done-outline"></ion-icon>
				14:28
			</span>
		</ion-label>
	</ion-item>
	<ion-item lines="none" sender class="ion-no-padding">
		<ion-label>
			<div message>
				<p>Yes, what about you?</p>
			</div>
			<span time>
				<ion-icon name="checkmark-done-outline"></ion-icon>
				14:30
			</span>
		</ion-label>
	</ion-item>
</ion-content>
<ion-footer>
<div commentbox>
  <ion-item lines="none">
  <ion-input type="text" placeholder="Type your message..."></ion-input>
<ion-buttons iconright><ion-icon name="paper-plane-outline"></ion-icon></ion-buttons>
  </ion-item>
</div>
</ion-footer>