<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/vehicle-modal-year"></ion-back-button>
		<ion-title class="ion-text-center">Vehicle Model</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<div main-head>
		<h1>Which vehicle need service?</h1>
		<p>Choose vehicle model</p>
	</div>
	<ion-row chooseyear>
	   <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio101" style="display:none">
		<label for="radio101" routerLink="/tabs/vehicle-make">330i <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
   	   <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio102" style="display:none">
		<label for="radio102" routerLink="/tabs/vehicle-make">330ixDrive <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
        <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio103" style="display:none">
		<label for="radio103" routerLink="/tabs/vehicle-make">840i <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
       <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio104" checked="" style="display:none">
		<label for="radio104" routerLink="/tabs/vehicle-make">840i Gran Couple <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio105" style="display:none">
		<label for="radio105" routerLink="/tabs/vehicle-make">840ixDrive <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio106" style="display:none">
		<label for="radio106" routerLink="/tabs/vehicle-make">840ixDrive Gran Couple <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio107" style="display:none">
		<label for="radio107" routerLink="/tabs/vehicle-make" >M340i <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	      <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio108" style="display:none">
		<label for="radio108" routerLink="/tabs/vehicle-make">330i <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio109" style="display:none">
		<label for="radio109" routerLink="/tabs/vehicle-make">840i <ion-icon name="radio-button-on-outline"></ion-icon></label>
	   </ion-col>
	    <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio1010" style="display:none">
		<label for="radio1010" routerLink="/tabs/vehicle-make">840i Gran Couple</label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio1011" style="display:none">
		<label for="radio1011" routerLink="/tabs/vehicle-make">840ixDrive</label>
	   </ion-col>
	     <ion-col size="12">
		<input type="radio" name="radiobox2" id="radio1012" style="display:none">
		<label for="radio1012" routerLink="/tabs/vehicle-make">840ixDrive Gran Couple</label>
	   </ion-col>
	   
 </ion-row>
</ion-content>
