<ion-tabs>
    <ion-tab-bar slot="bottom">
		<ion-tab-button tab="home">
			<ion-icon name="home-outline"></ion-icon>
			<p>Home</p>
		</ion-tab-button>
		<ion-tab-button tab="products">
			<ion-icon name="storefront-outline"></ion-icon>
			<p>Marketplace</p>
		</ion-tab-button>
		<ion-tab-button tab="search">
			<ion-icon name="add-outline"></ion-icon>
			<p>Request</p>
		</ion-tab-button>
		<ion-tab-button tab="messages">
			<ion-icon name="mail-unread-outline"></ion-icon>
			<p>Inbox</p>
		</ion-tab-button>
		<ion-tab-button tab="more">
			<ion-icon name="menu-outline"></ion-icon>
			<p>More</p>
		</ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
