<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/home"></ion-back-button>
		<ion-title class="ion-text-center">Repairs</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<div main-head>
	<h1>Sub Categories of Repairs</h1>
	<p>What kind of repair service you want?</p>
</div>
<ion-list>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Brakes</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Electricals</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Engine</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Exhaust</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Air Conditioner</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Steering & Suspension</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Transmission & Drivetrain</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Windscreen</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Wheels & Tires</ion-label>
	</ion-item>
</ion-list>
</ion-content>
