<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/notes"></ion-back-button>
		<ion-title class="ion-text-center">Cart</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<div location>
	<div heading>
	   <h2><img src="assets/img/location.JPG"/>Location</h2>
	   <ion-buttons><img src="assets/img/edit.png"/></ion-buttons>
	</div>
	<p>North Nyah 6889 Jerod Valley Suit 591</p>
</div>
<div Services>
	<div heading>
	   <h2><img src="assets/img/services.JPG"/>Services</h2>
	</div>
	<div subservices>
	 <p>Oil Change - Full Syntheic Engine Oil Syntheic Oil</p>	
	 <ion-buttons><ion-icon name="trash-outline"></ion-icon></ion-buttons>
	</div>
	<div subservices>
	 <p>Brake Pad and Rotor Replacement - Front Yes, Front</p>	
	 <ion-buttons><ion-icon name="trash-outline"></ion-icon></ion-buttons>
	</div>
	<div subservices>
	 <p>Oil Change - Full Syntheic Engine Oil Syntheic Oil</p>	
	 <ion-buttons><ion-icon name="trash-outline"></ion-icon></ion-buttons>
	</div>
	<div subservices>
	 <p>Brake Pad and Rotor Replacement - Front Yes, Front</p>	
	 <ion-buttons><ion-icon name="trash-outline"></ion-icon></ion-buttons>
	</div>
		<div btnbottom>
				<ion-button  shape="rounded" fill="outline">
				  Continue Shopping
				</ion-button>
				<ion-button  shape="rounded">
				 Check out
				</ion-button>
				</div>
</div>
</ion-content>
