ion-header
{
	&:after
	{
		display: none;
	}
	ion-toolbar
	{
		--background: #fdfdfb;
		--min-height: 56px;
		--border-width: 0px;
		ion-back-button
		{
			--icon-font-size: 18px;
			--min-width: 30px;
			color: var(--ion-color-black);
			
		}
		ion-buttons
		{
		 margin-right:10px;
		 img
		 {
		   height:18px;
		 }
		}
		ion-title
		{
			font-size: 15px;
			font-weight: 700;
			color: var(--ion-color-black);
			padding: 0px 10px;
		}
	}
}
ion-content
{--background: #fdfdfb;
	ion-segment {
		    padding:10px 16px;
			ion-segment-button {
				min-height: 35px;
				height: 35px;
				--indicator-height: 0px;
				--indicator-color: transparent;
				--indicator-color-checked: transparent;
				color: var(--ion-color-black);
				--color-checked: var(--ion-color-black);
				--color: var(--ion-color-black);
				text-transform: capitalize;
				font-size: 9px;
				font-weight: 500;
				border:1px solid var(--ion-color-primary);
				--background: var(--ion-color-white);
                --background-hover: var(--ion-color-white);
				    border-radius: 8px;
					margin-right: 2px;
					&:last-child
					{
					margin-right: 0px;
					}
					ion-label
					{
					    white-space: normal;
						line-height:normal
					}
				&.segment-button-checked {
					color: var(--ion-color-white);
					--color-checked: var(--ion-color-white);
					--color: var(--ion-color-white);
					--background-hover: transparent;
					--background: var(--ion-color-primary);
					background: var(--ion-color-primary);
					font-size: 9px;
					font-weight: 500;
				}
			}
		}
		ion-list
		{    background: transparent;
ion-item
		{
			
			--padding-top: 16px;
			--padding-bottom: 20px;
			--padding-start: 16px;
			--padding-end: 0px;
			border-bottom: 2px solid #f9faf8;
			--inner-padding-end: 16px;
			--background: transparent;
			outline: 0px;
				ion-thumbnail {
			border-radius: 6px;
			background: #f9f9f9;
			width: 85px;
			height: 85px;
			margin: 0 15px 0px 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			img {
				height: 55px;
				width: auto;
				object-fit: contain;
			}
		}
			ion-label
			{
				white-space: normal;
				margin: 0px;
				h2
				{
					margin: 0px 0px 5px;
					font-size: 14px;
					line-height: 21px;
					font-weight: 600;
					color: var(--ion-color-black);
					outline: 0px;
				}
				h3
				{
					margin: 0px 0px 13px;
					font-size: 13px;
					line-height: 21px;
					font-weight: 500;
					color: var(--ion-color-black);
					outline: 0px;
				}
			
				[btnbottom]
				{  margin-top: 5px;
				  display:flex;
				  align-items:center;
				  justify-content:space-between;
				  ion-buttons
				  {font-weight:500;
					font-size: 12px;
					text-transform:capitalize;
				   &[neworder] , &[cancelorder]
				   {
				   border-radius: 6px;
					height: 27px;
					background:var(--ion-color-green);
					padding:0px 15px;
					color:var(--ion-color-white);
				   } &[cancelorder]
				   {
					background:var(--ion-color-danger);
				   }
				    &[viewdetail]
				   {
					color:var(--ion-color-primary);
				   }
					
				  }
				}
			}
		}
		}
}