<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref=""></ion-back-button>
		<ion-title class="ion-text-center">My Orders</ion-title>
		<ion-buttons slot="end">
		 <img src="assets/img/filter.png"/>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content>
	    <ion-segment mode="md"   (ionChange)="segmentChanged($event)" value="openorders">
			<ion-segment-button value="openorders">
				<ion-label>Open Orders</ion-label>
			</ion-segment-button>
			<ion-segment-button value="completedcancelled">
				<ion-label>Completed & Cancelled</ion-label>
			</ion-segment-button>
			<ion-segment-button value="periodtimeframe">
				<ion-label>Period/Timeframe</ion-label>
			</ion-segment-button>
		</ion-segment>
  	<ion-list *ngIf="segment === 'openorders'">
	   <ion-item lines="none" detail="false">
			<ion-label>
				<h2>Requested Service : Brake Pad and Rotor</h2>
				<h3>Date Ordered : Aug 21, 11:30 PM</h3>
				<div btnbottom>
				<ion-buttons neworder shape="rounded" fill="outline">
				 New Order
				</ion-buttons>
				<ion-buttons  shape="rounded" viewdetail routerLink="/tabs/order-details">
				 View Details
				</ion-buttons>
				</div>
			</ion-label>
		</ion-item>
		   <ion-item lines="none" detail="false">
			<ion-label> 
				<h2>Requested Service : Brake Pad and Rotor</h2>
				<h3>Date Ordered : Aug 21, 11:30 PM</h3>  
				<div btnbottom>
				<ion-buttons neworder shape="rounded" fill="outline">
				 New Order
				</ion-buttons>
				<ion-buttons  shape="rounded" viewdetail routerLink="/tabs/order-details">
				 View Details
				</ion-buttons>
				</div>
			</ion-label>
		</ion-item>
		<ion-item lines="none" detail="false">
			<ion-label>
				<h2>Products : MRF Road Tyres</h2>
				<h3>Date Ordered : Aug 21, 11:30 PM</h3>
				<div btnbottom>
				<ion-buttons neworder shape="rounded" fill="outline">
				 New Order
				</ion-buttons>
				<ion-buttons  shape="rounded" viewdetail routerLink="/tabs/productorderdetail">
				 View Details
				</ion-buttons>
				</div>
			</ion-label>
		</ion-item>
				<ion-item lines="none" detail="false">
			<ion-label>
				<h2>Products : Motul Engine Oil 1 ltr</h2>
				<h3>Date Ordered : Aug 21, 11:30 PM</h3>
				<div btnbottom>
				<ion-buttons neworder shape="rounded" fill="outline">
				 New Order
				</ion-buttons>
				<ion-buttons  shape="rounded" viewdetail routerLink="/tabs/productorderdetail">
				 View Details
				</ion-buttons>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="segment === 'completedcancelled'">
	<ion-item lines="none" detail="false">
			<ion-label>
				<h2>Requested Service : Brake Pad and Rotor</h2>
				<h3>Date Ordered : Aug 21, 11:30 PM</h3>
				<div btnbottom>
				<ion-buttons cancelorder shape="rounded" fill="outline">
				 Cancelled Order
				</ion-buttons>
				<ion-buttons  shape="rounded" viewdetail routerLink="/tabs/order-details">
				 View Details
				</ion-buttons>
				</div>
			</ion-label>
		</ion-item>
	</ion-list>
	  	<ion-list *ngIf="segment === 'periodtimeframe'">
	</ion-list>
</ion-content>
