<!--ion-header>
  <ion-toolbar>
    <ion-title>more</ion-title>
  </ion-toolbar>
</ion-header-->
<ion-content>
<div userinfo>
	<ion-item lines="none" class="ion-no-padding">
		<ion-avatar>
		   <ion-icon name="camera-outline"></ion-icon>
		</ion-avatar>
		<ion-label>
		<h2>Test</h2>
		<p>9812345679</p>
		<p>test@gmail.com</p>
		</ion-label>
	</ion-item>
</div>
		<ion-item menulink lines="none"  detail="false" routerLink="/tabs/account">
		     <img slot="start" src="assets/img/person.png"/>
				<ion-label>Profile</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false" routerLink="/tabs/my-orders">
		     <img slot="start" src="assets/img/yourorders.PNG"/>
				<ion-label>Your Orders</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false" routerLink="/productwishlist">
		     <img slot="start" src="assets/img/wishlist.png"/>
				<ion-label>Wishlist</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false" routerLink="/tabs/requests">
		     <img slot="start" src="assets/img/servicerequested.PNG"/>
				<ion-label>Service Requested</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/accountsettings.PNG"/>
				<ion-label>Account Settings</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false" routerLink="/payment">
		     <img slot="start" src="assets/img/paymentmethod.PNG"/>
				<ion-label>Manage Payment Methods</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/prefferedvendors.PNG"/>
				<ion-label>Preferred Vendors</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/legal.PNG"/>
				<ion-label>Legal</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>	
		<ion-item menulink lines="none"  detail="false" routerLink="/my-cars">
		     <img slot="start" src="assets/img/vehicle.png"/>
				<ion-label>Vehicles</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>
		<ion-item menulink lines="none"  detail="false" routerLink="/">
		     <img slot="start" src="assets/img/logout.PNG"/>
				<ion-label>Log Out</ion-label>		
            <ion-buttons>
			  <ion-icon name="chevron-forward-outline"></ion-icon>
			</ion-buttons>				
		</ion-item>		
</ion-content>
