ion-header {
	&:after {
		display: none;
	}
	ion-toolbar {
		--background: #fdfdfb;
		--min-height: 56px;
		--border-width: 0px;
		ion-back-button {
			--icon-font-size: 18px;
			--min-width: 30px;
			color: var(--ion-color-black);
		}
		ion-title {
			font-size: 15px;
			font-weight: 700;
			color: var(--ion-color-black);
			padding: 0px 10px;
		}
	}
}

ion-content {
	--background: #fdfdfb;
	[vehicleinfo]
{
background:#eaeaea;
padding:25px 16px;
ion-item
{
--background:transparent;
--inner-padding-end:0px;
ion-avatar
{
border:1px solid #b6b6b6;
border-radius:50%;
background:var(--ion-color-white);
display:flex;
align-items:center;
justify-content:center;
width:60px;
height:60px;
margin:0px;
img
{
height: 20px;
}
}
ion-label
{
white-space:normal;
margin-left:15px;
 h2
 {
   font-size:14px;
   color:var(--ion-color-black);
   font-weight:700;
   margin:0px 0px 5px;
 }
 ion-buttons
 {
   font-size:11px;
   color:var(--ion-color-primary);
   font-weight:600;
   line-height: normal;
 }
}
}

}
[menulink]
			{
				border-bottom: 1px solid #f9f9f9;
				border-radius: 0px;
				--min-height: 60px;
				--padding-start: 16px;
				--padding-end: 0px;
				--inner-padding-end: 16px;
				--background:transparent;	  
                 img
				  {  margin-right: 15px;
				     height:31px;
				     width:31px;
				     object-fit:contain;
				  }			
				ion-label
				{
				   font-size:13px;
				   color:var(--ion-color-black);
				   font-weight:700;
				}
		}
	}