<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/home"></ion-back-button>
		<ion-title class="ion-text-center">
		Change Vehicle
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<div vehicleinfo>
<ion-item lines="none" class="ion-no-padding">
<ion-avatar>
   <img src="assets/img/ford.png"/>
</ion-avatar>
<ion-label>
<h2>Rarger</h2>
<ion-buttons>Save Changes</ion-buttons>
</ion-label>
</ion-item>
</div>
<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/audi.png"/>
				<ion-label>Audi</ion-label>	
</ion-item>
<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/bmw-logo.svg"/>
				<ion-label>BMW</ion-label>	
</ion-item>
<ion-item menulink lines="none"  detail="false">
		     <img slot="start" src="assets/img/buick.png"/>
			<ion-label>Buick</ion-label>	
</ion-item>
</ion-content>
