<ion-header mode="ios">
	<ion-toolbar>
		<ion-title class="ion-text-left">Vehicle Info</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus.</p>
<ion-buttons (click)="dismiss()" routerLink="/tabs/viewdetail">
More Info...
</ion-buttons>
</ion-content>
