<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/order-details"></ion-back-button>
		<ion-title class="ion-text-center">Rate & Review</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
<div addreview>
   <h2 heading>Kindly Rate & Review Your Experience</h2>
	  <div userimg>
		<img src="assets/img/user1.jpg">
	    <h2>John Smith</h2>
	  </div>
 <div starrating>
<ion-icon name="star-outline"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
<ion-icon name="star-outline"></ion-icon>
 </div>
 <div form-group>
 <label>Let Us Know Your Experience</label>
<ion-textarea type="text" rows="4"></ion-textarea>
 </div>
<div btnbottom>
		<ion-button  shape="rounded">
		  Submit Rating
		</ion-button>
</div>
 </div>
</ion-content>
