<ion-header mode="ios">
	<ion-toolbar>
		<ion-back-button text="" icon="arrow-back-outline" slot="start" defaultHref="/tabs/home"></ion-back-button>
		<ion-title class="ion-text-center">Parts</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
<div main-head>
	<h1>Sub Categories of Parts</h1>
	<p>What kind of part service you want?</p>
</div>
<ion-list>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Spare Part</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Engine</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Gearbox</ion-label>
	</ion-item>
	<ion-item lines="none" detail="false" routerLink="/tabs/notes">
		<ion-label>Other</ion-label>
	</ion-item>
</ion-list>
</ion-content>
