ion-header {
	&:after {
		display: none;
	}
	ion-toolbar {
		--background: #fdfdfb;
		--min-height: 56px;
		--border-width: 0px;
		ion-back-button {
			--icon-font-size: 18px;
			--min-width: 30px;
			color: var(--ion-color-black);
		}
		ion-title {
			font-size: 15px;
			font-weight: 700;
			color: var(--ion-color-black);
			padding: 0px 10px;
		}
		ion-buttons
		{
			border: 1px solid var(--ion-color-primary);
			color: var(--ion-color-primary);
			padding: 0px 10px;
			font-size: 12px;
			height: 27px;
			min-height: 27px;
			border-radius: 4px;
			margin-right: 10px;
		}
	}
}

ion-content {
	--background: #fdfdfb;
	--padding-start: 10px;
    --padding-end: 10px;
    --padding-top: 10px;
    --padding-bottom: 10px;
	[service-sec]
		{    margin-bottom: 5px;
			background: var(--ion-color-white);
			border-radius: 8px;
			box-shadow: 0px 0px 10px  rgba(0 , 0 , 0 , 0.07);
			padding: 18px 4px;
			outline: 0px;
			text-align: center;
			p
			{
				font-size: 12px;
				font-weight: 600;
				color: var(--ion-color-black);
				margin: 10px 0px 0px;
			}
			img
			{
				max-height: 75px;
			}
		}
}	